<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Media</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>
<body class="d-flex justify-content-center align-items-center vh-100 text-body-tertiary">
  <div class="container">
    <nav id="nav" class="navbar fixed-top bg-dark">
      <div class="container-fluid">
        <ul class="navbar-nav d-flex flex-row w-100">
          <li class="nav-item">
            <a id="home" class="nav-link link-light active fs-2 mx-1" aria-current="Home" target="_self" href="/">Home</a>
          </li>
          <div class="ms-auto d-flex mt-2">
            <li><button type="button" class="btn btn-dark ms-3" id="liveToastBtn">Weather</button></li>
            <li><button id="joke" class="btn btn-dark ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#newJoke" aria-expanded="false" aria-controls="newJoke">Random Joke</button></li>
            <li class="nav-item ps-3">
              <a class="nav-link link-light btn btn-dark" target="_self" href="files">Files</a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link link-light" target="_self" href="media">Media</a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link link-light" target="_self" href="rand">Rand</a>
            </li>
            <li>
              <button id="toggle-planner" class="btn btn-dark ms-3">Planner</button>
            </li>
          </div>
        </ul>
      </div>
    </nav>
    <div class="collapse" id="newJoke">
      <div id="jokeContainer" class="card card-body bg-dark text-white">
      </div></div>
    <div class="text-center mt-5 pt-4">
      <h1 id="zone" class="mb-8 d-flex justify-content-center text-pop-up-top">Media</h1>
      <form class="d-flex justify-content-center mt-3" role="search">
        <input class="form-control me-2 rounded-4" type="search" placeholder="Watchyu Looking For?" aria-label="Search">
        <button id="search" class="btn btn-light fs-4 rounded-4" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast bg-dark text-light" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Current Weather</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body bg-dark tex-info">
      </div>
    </div>
  </div>
  <iframe id="planner" src="https://calendar.google.com/calendar/embed?height=400&wkst=1&ctz=America%2FEdmonton&title=Planner&showPrint=0&src=aW1vaGFtZWQxOTkyQGdtYWlsLmNvbQ&color=%23AD1457" style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="app.js"></script>
  <script src="index.js"></script>
</body>
</html>